<h1>Find Your Team</h1>
<div class="band navigation">
	<!-- <div class="row"> -->
		<div class="col span_4 button button-primary button-selected">
			<% @teams.each do |team| %>	
        <div><%= link_to (image_tag team.image, class: "team_choice_#{team.id}"), user_teams_path(current_user, param1: "#{team.id}"), method: :post %></div>
				<div><%= team.name %></div>
				<div><%= team.city %></div>
				<div><%= team.stadium %></div>
			<% end %>
		</div>
	<!-- </div> -->
</div>
</br>



