<h1>Find Your Team</h1>
<div class="band navigation">
	<!-- <div class="row"> -->
		<div class="col span_4 button button-primary button-selected">
			<% @teams.each do |team| %>	
				<div><%= image_tag team.image %></div>
				<div><%= team.name %></div>
				<div><%= team.city %></div>
				<div><%= team.stadium %></div>
			<% end %>
		</div>
	<!-- </div> -->
</div>

curl --compressed -H "Authorization: Bearer 53bfd032-95a6-412f-86e3-66ba6c473098" https://erikberg.com/mlb/boxscore/20150416-san-francisco-giants-at-arizona-diamondbacks.json
