<div> 
	<%= builder.label :name, "Player Name" %>
	<%= builder.text_field :name, rows: 3 %>

	<%= builder.check_box :_destroy %>
	<%= builder.label :_destroy, "remove", class: "remove_player" %>
</div>
</br>
